.contador {
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4;

    display: grid; /* nuevo */
    grid-template-columns: repeat(3, 1fr); /* divide en 3 */
    gap: 30px; /* espacio entre bloques */
    justify-items: center; /* centra los bloques */
}

.bloque {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
}

.count {
    font-family: 'Montserrat', sans-serif; 
    font-size: 48px;
    font-weight: bolder;
    color: #654ebb;
    margin: 0;
    animation: pulseAnimation 1.5s infinite;
}

.contador p {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

/* Animación existente */
@keyframes pulseAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Responsivo */
@media (max-width: 768px) {
    .contador {
        grid-template-columns: 1fr; /* una sola columna en pantallas chicas */
    }
}
